<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31111458838-6nmee5ftg7kdprh57p3k5vrvr8ptmig8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31111458838-6nmee5ftg7kdprh57p3k5vrvr8ptmig8</string>
	<key>API_KEY</key>
	<string>AIzaSyAttMle5lVUdBJf6x5nq1rw31DM2xkv9PA</string>
	<key>GCM_SENDER_ID</key>
	<string>31111458838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebasechatblock.firebasechatblock</string>
	<key>PROJECT_ID</key>
	<string>groupchat-59b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>groupchat-59b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31111458838:ios:0792df665999f8965fc537</string>
</dict>
</plist>